Repository Legacy-Of-Paradise/main-erp, pull requests merged in 2025-05, with the labels that each got.

#6 Fix
  .github/workflows/publish.yml
  .github/workflows/test-secrets1.yml
  .github/workflows/test-secrets2.yml
  .github/workflows/test-secrets3.yml
  .github/workflows/test-secrets4.yml
  Content.Client/Content.Client.csproj
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Options/UI/Tabs/AudioTab.xaml.cs
  Content.Client/VoiceMask/VoiceMaskBoundUserInterface.cs
  Content.Client/VoiceMask/VoiceMaskNameChangeWindow.xaml
  Content.Client/VoiceMask/VoiceMaskNameChangeWindow.xaml.cs
  Content.IntegrationTests/Tests/Preferences/ServerDbSqliteTests.cs
  Content.Server.Database/Model.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Content.Server.csproj
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/Telephone/TelephoneSystem.cs
  Content.Server/VoiceMask/VoiceMaskComponent.cs
  Content.Server/VoiceMask/VoiceMaskSystem.cs
  Content.Shared/Content.Shared.csproj
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/VoiceMask/SharedVoiceMaskSystem.cs
  LEGAL.md
  README.md
  Resources/ConfigPresets/lop.toml
  Resources/ConfigPresets/lopn.toml
  Resources/Prototypes/Corvax/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Objects/Fun/puppet.yml
  Resources/Prototypes/Entities/Structures/hydro_tray.yml
  Resources/Prototypes/_NewParadise/Rules.yml
  Resources/ServerInfo/_NewParadise/Rules.xml
  Resources/ServerInfo/_NewParadise/RulesNon.xml
  Tools/publish_multi_request.py
Labels: Статус: Требуется проверка, UI, C#, YML, Документация, size/M

#12 Фикс тестов
  .github/workflows/test-secrets2.yml
  .github/workflows/test-secrets3.yml
  .github/workflows/test-secrets4.yml
Labels: YML, size/S

#16 унификация
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Humanoid/MarkingPicker.xaml.cs
  Content.Client/Humanoid/SingleMarkingPicker.xaml.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Lobby/ClientPreferencesManager.cs
  Content.Client/Lobby/UI/CharacterSetupGui.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/Loadouts/LoadoutWindow.xaml.cs
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Server/Administration/Systems/BwoinkSystem.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Database/ServerDbManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/GameTicking/GameTicker.StatusShell.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingSystem.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
  Content.Shared/Humanoid/Markings/MarkingsSet.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/Preferences/ICharacterProfile.cs
  Content.Shared/Preferences/Loadouts/RoleLoadout.cs
  Content.Shared/Preferences/Loadouts/RoleLoadoutPrototype.cs
  Content.Shared/Roles/JobRequirement/AgeRequirement.cs
  Content.Shared/Roles/JobRequirement/DepartmentTimeRequirement.cs
  Content.Shared/Roles/JobRequirement/OverallPlaytimeRequirement.cs
  Content.Shared/Roles/JobRequirement/RoleTimeRequirement.cs
  Content.Shared/Roles/JobRequirement/SpeciesRequirement.cs
  Content.Shared/Roles/JobRequirement/TraitsRequirement.cs
  Content.Shared/Roles/JobRequirements.cs
Labels: UI, C#, size/M

#18 Upstream
  Resources/Maps/Corvax/Shuttles/cargo_corvaxsilly.yml
  Resources/Maps/Corvax/corvax_maus.yml
  Resources/Maps/Corvax/corvax_silly.yml
  Resources/Textures/Objects/Misc/6pack.rsi/6pack1.png
  Resources/Textures/Objects/Misc/6pack.rsi/6pack2.png
  Resources/Textures/Objects/Misc/6pack.rsi/6pack3.png
  Resources/Textures/Objects/Misc/6pack.rsi/6pack4.png
  Resources/Textures/Objects/Misc/6pack.rsi/6pack5.png
  Resources/Textures/Objects/Misc/6pack.rsi/6pack6.png
  Resources/Textures/Objects/Misc/6pack.rsi/meta.json
  Resources/Textures/Objects/Misc/6pack.rsi/plastic-thingy.png
Labels: YML, Карты, Текстуры

#22 расы для спонсоров
  Content.Client/Lobby/UI/CharacterSetupGui.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Labels: UI, C#, size/S

#23 подправка
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
Labels: C#
