Repository Legacy-Of-Paradise/main-erp, pull requests merged in 2025-07, with the labels that each got.

#76 Фиксы
  .github/CODEOWNERS
  Content.Client/_NewParadise/TTS/TTSSystem.cs
  Content.Server/_NewParadise/TTS/TTSSystem.cs
  Resources/ConfigPresets/lop.toml
  Resources/ConfigPresets/lopn.toml
  Resources/Locale/en-US/_NewParadise/prototypes/reagents/reag.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/actions/types.ftl
  Resources/Locale/ru-RU/_NewParadise/prototypes/reagents/reag.ftl
  Resources/Locale/ru-RU/connection-messages.ftl
  Resources/Locale/ru-RU/light/components/expendable-light-component.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Prototypes/Corvax/Entities/Mobs/Species/tajaran.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/Entities/Structures/plastic_flaps.yml
  Resources/Prototypes/_NewParadise/Entities/Objects/Fun/ERP/buttplug.yml
  Resources/Prototypes/_NewParadise/Entities/Objects/Fun/ERP/dildo.yml
  Resources/Prototypes/_NewParadise/Entities/Objects/Fun/ERP/fleshlight.yml
  Resources/Prototypes/_NewParadise/Entities/Objects/Fun/ERP/vibrator.yml
  Resources/Prototypes/_NewParadise/Entities/Objects/Fun/ERP/whips.yml
  Resources/Prototypes/_NewParadise/tags.yml
Labels: Статус: Требуется проверка, C#, Переводы, YML, size/M

#79 Update ion-storm.ftl
  Resources/Locale/ru-RU/station-events/events/ion-storm.ftl
Labels: Статус: Требуется проверка, Переводы

#83 Медальки
  Content.Client/_CorvaxNext/CrewMedal/CrewMedalSystem.cs
  Content.Client/_CorvaxNext/CrewMedal/UI/CrewMedalBoundUserInterface.cs
  Content.Client/_CorvaxNext/CrewMedal/UI/CrewMedalWindow.xaml
  Content.Client/_CorvaxNext/CrewMedal/UI/CrewMedalWindow.xaml.cs
  Content.Server/_CorvaxNext/CrewMedal/CrewMedalSystem.cs
  Content.Shared/_CorvaxNext/CrewMedal/CrewMedalComponent.cs
  Content.Shared/_CorvaxNext/CrewMedal/CrewMedalEvents.cs
  Content.Shared/_CorvaxNext/CrewMedal/SharedCrewMedalSystem.cs
  Resources/Locale/en-US/_corvaxnext/crew-medals/crew-medal-component.ftl
  Resources/Locale/en-US/_corvaxnext/escape-menu/ui/options.ftl
  Resources/Locale/ru-RU/_corvaxnext/crew-medals/crew-medal-component.ftl
  Resources/Prototypes/Entities/Clothing/Neck/medals.yml
Labels: Статус: Требуется проверка, UI, C#, Переводы, YML

#87 Биошкодинг
  Content.Server/_ADT/DNALocker/Components/DNALockerComponent.cs
  Content.Server/_ADT/DNALocker/Systems/DNALockerSystem.cs
  Resources/Audio/_ADT/dna-lock.ogg
  Resources/Locale/en-US/_ADT/actions/syndicate.ftl
  Resources/Locale/ru-RU/_ADT/actions/syndicate.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Статус: Требуется проверка, C#, Переводы, YML, size/M, Звук

#91 Исправления
  Content.Server/Administration/Managers/BanManager.cs
  Content.Server/_Goobstation/Ghostbar/GhostBarSystem.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Resources/Locale/en-US/_NewParadise/ban_webhook.ftl
  Resources/Locale/ru-RU/_NewParadise/ban_webhook.ftl
  Resources/Locale/ru-RU/recipes/tags.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_newparadise/entities/clothing/head/hardsuit-helmet-eva.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_newparadise/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_newparadise/entities/structures/doors/airlocks/eva.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Maps/_NewParadise/lop_saltern.yml
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
Labels: Статус: Требуется проверка, C#, Переводы, YML, size/M, Карты

#92 Clothing layer
  Content.Shared/_ADT/Inventory/CoveredSlot/CoveredSlotComponent.cs
  Content.Shared/_ADT/Inventory/CoveredSlot/CoveredSlotSystem.cs
  Resources/Locale/en-US/_ADT/inventory/covered-slot-component.ftl
  Resources/Locale/ru-RU/_ADT/inventory/covered-slot-component.ftl
  Resources/Prototypes/Corvax/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
Labels: Статус: Требуется проверка, C#, Переводы, YML, size/M

#98 Штрихи средневольтных
  Resources/Prototypes/Entities/Markers/Spawners/Random/cables.yml
  Resources/Prototypes/Entities/Structures/Power/cables.yml
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/meta.json
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvstripes_0.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvstripes_1.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvstripes_10.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvstripes_11.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvstripes_12.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvstripes_13.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvstripes_14.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvstripes_15.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvstripes_2.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvstripes_3.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvstripes_4.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvstripes_5.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvstripes_6.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvstripes_7.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvstripes_8.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvstripes_9.png
Labels: Статус: Требуется проверка, YML, Текстуры, size/S

#99 забытый фикс
  Content.Shared/Corvax/Preferences/Loadouts/Effects/SponsorLoadoutEffect.cs
  Content.Shared/Preferences/Loadouts/Effects/GroupLoadoutEffect.cs
  Content.Shared/Preferences/Loadouts/Effects/JobRequirementLoadoutEffect.cs
  Content.Shared/Preferences/Loadouts/Effects/LoadoutEffect.cs
  Content.Shared/Preferences/Loadouts/Effects/PointsCostLoadoutEffect.cs
  Content.Shared/Preferences/Loadouts/Effects/SpeciesLoadoutEffect.cs
  Content.Shared/Preferences/Loadouts/RoleLoadout.cs
Labels: Статус: Требуется проверка, C#, size/S

#100 Знаки
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Textures/Structures/Wallmounts/signs.rsi/detective.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_pods.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/genpop.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/prison.png
Labels: Статус: Требуется проверка, Переводы, size/XS, Текстуры

#105 global tts
  Content.Client/_NewParadise/TTS/TTSSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/_NewParadise/TTS/TTSAnnouncementEvent.cs
  Content.Server/_NewParadise/TTS/TTSSystem.cs
  Content.Shared/_NewParadise/TTS/PlayTTSEvent.cs
Labels: Статус: Требуется проверка, C#, size/M

#112 micro-fixes
  Resources/Locale/en-US/_NewParadise/job/job-names.ftl
  Resources/Locale/en-US/markings/vulpkanin.ftl
  Resources/Locale/ru-RU/_NewParadise/job/job-names.ftl
  Resources/Locale/ru-RU/markings/vulpkanin.ftl
  Resources/Prototypes/_NewParadise/Roles/Jobs/CentCom/blueshieldoficer.yml
Labels: Статус: Требуется проверка, Переводы, YML, size/M

#113 assus
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_NewParadise/Entities/Clothing/OuterClothing/NPZ.yml
  Resources/Prototypes/_NewParadise/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Статус: Требуется проверка, YML, size/S

#114 Новый Терминал
  Resources/ConfigPresets/lop.toml
  Resources/ConfigPresets/lopn.toml
  Resources/Maps/_NewParadise/Misc/paradise_terminal.yml
  Resources/Maps/_NewParadise/Shuttles/LOP_mining.yml
Labels: Статус: Требуется проверка, size/XL, C#, YML, Карты

#117 I have two maps
  Resources/Maps/_NewParadise/lop_paper.yml
  Resources/Maps/_NewParadise/lop_tushkan.yml
Labels: Статус: Требуется проверка, Карты

#120 Спавнеры СИМ
  Resources/Locale/en-US/ss14-ru/prototypes/_newparadise/entities/markers/spawners/PME.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_newparadise/entities/markers/spawners/PME.ftl
  Resources/Prototypes/_Goobstation/Entities/Objects/Vehicles/vehicles.yml
  Resources/Prototypes/_NewParadise/Entities/Markers/Spawners/PME.yml
  Resources/Textures/Objects/Vehicles/atv.rsi/icon.png
  Resources/Textures/Objects/Vehicles/atv.rsi/meta.json
  Resources/Textures/Objects/Vehicles/janicart.rsi/icon.png
  Resources/Textures/Objects/Vehicles/janicart.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Vehicles/hoverchair.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Vehicles/hoverchair.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Vehicles/wheelchair.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Vehicles/wheelchair.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Vehicles/wheelchair.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Vehicles/wheelchair.rsi/vehicle.png
  Resources/Textures/_Goobstation/Objects/Vehicles/wheelchair.rsi/vehicle_folded.png
Labels: Статус: Требуется проверка, Переводы, YML, size/M, Текстуры

#124 переводы руководств [Bug_Fixes]
  Resources/ServerInfo/Guidebook/Cargo/Salvage.xml
  Resources/ServerInfo/Guidebook/Service/Botany.xml
Labels: Статус: Требуется проверка, Документация, size/M

#129 Изменения и новый спавнер СИМ
  Resources/Locale/en-US/ss14-ru/prototypes/_newparadise/entities/markers/spawners/PME.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_newparadise/entities/markers/spawners/VehicleSpawner.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_newparadise/entities/markers/spawners/PME.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_newparadise/entities/markers/spawners/VehicleSpawner.ftl
  Resources/Prototypes/_NewParadise/Entities/Markers/Spawners/VehicleSpawner.yml
  Resources/Textures/Objects/Vehicles/motorbike.rsi/icon.png
  Resources/Textures/Objects/Vehicles/motorbike.rsi/meta.json
Labels: Статус: Требуется проверка, Переводы, YML, Текстуры, size/S

#131 Фикс Таркова
  Resources/Maps/_NewParadise/Tarkov.yml
Labels: Статус: Требуется проверка, Карты, size/S

#134 Revert "ползание 2"
  Content.Client/Buckle/BuckleSystem.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/_CorvaxNext/Standing/LayingDownSystem.cs
  Content.Server/_CorvaxNext/Standing/LayingDownSystem.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Standing/StandingStateComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/_CorvaxNext/NextVars.cs
  Content.Shared/_CorvaxNext/Standing/LayingDownComponent.cs
  Content.Shared/_CorvaxNext/Standing/SharedLayingDownSystem.cs
  Resources/Locale/ru-RU/_corvaxnext/escape-menu/ui/options.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/keybinds.yml
Labels: Статус: Требуется проверка, UI, C#, Переводы, YML, size/M

#136 Revert "Умный холодильник теперь реально умный"
  Content.Client/_DV/SmartFridge/SmartFridgeBoundUserInterface.cs
  Content.Client/_DV/SmartFridge/SmartFridgeItem.xaml
  Content.Client/_DV/SmartFridge/SmartFridgeItem.xaml.cs
  Content.Client/_DV/SmartFridge/SmartFridgeMenu.xaml
  Content.Client/_DV/SmartFridge/SmartFridgeMenu.xaml.cs
  Content.Client/_DV/SmartFridge/SmartFridgeUISystem.cs
  Content.Shared/Storage/EntitySystems/DumpableSystem.cs
  Content.Shared/_DV/SmartFridge/SmartFridgeComponent.cs
  Content.Shared/_DV/SmartFridge/SmartFridgeSystem.cs
  Resources/Locale/en-US/_DV/smartfridge/smartfridge.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/deltav/entities/structures/machines/smartfridge.ftl
  Resources/Locale/ru-RU/_DV/smartfridge/smartfridge.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/entities/structures/machines/smartfridge.ftl
  Resources/Prototypes/DeltaV/Entities/Structures/Machines/smartfridge.yml
  Resources/Prototypes/Entities/Structures/Machines/smartfridge.yml
  Resources/migration.yml
Labels: Статус: Требуется проверка, UI, C#, Переводы, YML, size/M
