Repository Legacy-Of-Paradise/main-erp, pull requests merged in 2025-06, with the labels that each got.

#43 исправлюхи
  .github/workflows/check-trailing-whitespace.yml
  .github/workflows/update-credits.yml
  Resources/ConfigPresets/Corvax/athara.toml
  Resources/ConfigPresets/Corvax/common.toml
  Resources/ConfigPresets/Corvax/echo.toml
  Resources/ConfigPresets/Corvax/elysium.toml
  Resources/ConfigPresets/Corvax/main.toml
  Resources/ConfigPresets/Corvax/mrp.toml
  Resources/ConfigPresets/Corvax/nebula.toml
  Resources/ConfigPresets/Corvax/nova.toml
  Resources/ConfigPresets/Corvax/solaris.toml
  Resources/ConfigPresets/Corvax/wl.toml
  Resources/Locale/en-US/_NewParadise/administration/ui/panels.ftl
  Resources/Locale/en-US/_NewParadise/tts.ftl
  Resources/Locale/ru-RU/_NewParadise/tts.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Species/vox.yml
  Resources/Prototypes/_NewParadise/Maps/Pools/standart.yml
  Resources/Prototypes/_NewParadise/tts/voices.yml
Labels: Статус: Требуется проверка, Переводы, YML, size/M, Карты

#49 ссылки окна лаунчера
  Content.Client/Launcher/LauncherConnectingGui.xaml
  Content.Client/Launcher/LauncherConnectingGui.xaml.cs
  Resources/Locale/ru-RU/_NewParadise/launcher/launcher.ftl
Labels: UI, C#, Переводы, size/S

#57 ползание 2
  Content.Client/Buckle/BuckleSystem.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/_CorvaxNext/Standing/LayingDownSystem.cs
  Content.Server/_CorvaxNext/Standing/LayingDownSystem.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Standing/StandingStateComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/_CorvaxNext/NextVars.cs
  Content.Shared/_CorvaxNext/Standing/LayingDownComponent.cs
  Content.Shared/_CorvaxNext/Standing/SharedLayingDownSystem.cs
  Resources/Locale/ru-RU/_corvaxnext/escape-menu/ui/options.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/keybinds.yml
Labels: Статус: Требуется проверка, UI, C#, Переводы, YML, size/M

#59 Документики+фикс увед+фиксы
  Content.Client/Launcher/LauncherConnectingGui.xaml.cs
  Content.Server/Corvax/StationGoal/StationGoalPaperSystem.cs
  Content.Server/Fax/AdminUI/AdminFaxEui.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/GameTicking/GameTicker.CVars.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/Nuke/NukeCodePaperSystem.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Resources/Locale/en-US/_NewParadise/documents.ftl
  Resources/Locale/en-US/_NewParadise/round-notifications.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_newparadise/entities/objects/misc/paper.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/catalog/fills/paper/document.ftl
  Resources/Locale/ru-RU/_NewParadise/documents.ftl
  Resources/Locale/ru-RU/_NewParadise/round-notifications.ftl
  Resources/Locale/ru-RU/corvax/paper/doc-printer.ftl
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_newparadise/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/catalog/fills/paper/document.ftl
  Resources/Maps/Corvax/Ruins/corvax_ussp_asteroid.yml
  Resources/Maps/Corvax/corvax_centcomm.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Paper/document.yml
  Resources/Prototypes/Corvax/Entities/Structures/Machines/printer.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/Packs/documents.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/printer.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/_NewParadise/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_NewParadise/Recipes/Lathes/documents.yml
  Resources/Prototypes/_White/Entities/Clothing/Eyes/goggles.yml
  Resources/Textures/_NewParadise/Paper/license.txt
  Resources/Textures/_NewParadise/Paper/nanotrasen_cargo_form_header.png
  Resources/Textures/_NewParadise/Paper/nanotrasen_cc_form_header.png
  Resources/Textures/_NewParadise/Paper/nanotrasen_cc_secure_form_header.png
  Resources/Textures/_NewParadise/Paper/nanotrasen_cmd_form_header.png
  Resources/Textures/_NewParadise/Paper/nanotrasen_eng_form_header.png
  Resources/Textures/_NewParadise/Paper/nanotrasen_form_header.png
  Resources/Textures/_NewParadise/Paper/nanotrasen_law_form_header.png
  Resources/Textures/_NewParadise/Paper/nanotrasen_med_form_header.png
  Resources/Textures/_NewParadise/Paper/nanotrasen_sci_form_header.png
  Resources/Textures/_NewParadise/Paper/nanotrasen_sec_form_header.png
  Resources/Textures/_NewParadise/Paper/syndie_form_header.png
Labels: size/XL, UI, C#, Переводы, YML, Карты

#66 Ножки
  Resources/Textures/Corvax/Mobs/Species/Reptilian/parts.rsi/l_foot_digi.png
  Resources/Textures/Corvax/Mobs/Species/Reptilian/parts.rsi/l_leg_digi.png
  Resources/Textures/Corvax/Mobs/Species/Reptilian/parts.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Species/Reptilian/parts.rsi/r_foot_digi.png
  Resources/Textures/Corvax/Mobs/Species/Reptilian/parts.rsi/r_leg_digi.png
Labels: Статус: Требуется проверка, Переводы, YML, size/XS, Текстуры
